version: "3.9"

services:
  memberservice:
    build:
      context: .
      dockerfile: MemberService/Dockerfile
    container_name: memberservice
    ports:
      - "5001:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    networks:
      - library-network

  bookservice:
    build:
      context: .
      dockerfile: BookService/Dockerfile
    container_name: bookservice
    ports:
      - "5002:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - MemberService__BaseUrl=http://memberservice:8080
    depends_on:
      - memberservice
    networks:
      - library-network

networks:
  library-network:
    driver: bridge
